@{
    ViewData["Title"] = "Home Page";
}

    <div class="mt-5 py-5 jumbotron text-center bg-light">
        <h1 class="display-4">Welcome to Student Manager</h1>
        <p class="lead">A simple app to perform basic CRUD operations using .NET Core MVC.</p>
        <hr class="my-4">
        
        <p>Manage your students efficiently and seamlessly.</p>
        
        <a class="btn btn-primary btn-lg" asp-action="Add" asp-controller="Students" role="button">Get Started</a>
    </div>
